.ValidationMessage {
    color: red;
    margin-bottom: 8px;
}

.FormElement {
    font-size: 0.9em;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted rgb(0, 68, 0);
}

.FormElement > label {
    margin-bottom: 8px;
    font-weight: bold;
}