.Form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 350px;
}

.FormValidation {
    color: red;
    padding: 8px;
}

.FormMessage {
    color: green;
    padding: 8px;
}