.HomePage {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.BoardAndEditor {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 650px;
    justify-content: center;
    margin: 0;
}